@import "./index.scss";

.news {
  padding: 140px 175px;

  .news__title {
    margin: 0 0 115px 0;
    text-align: center;
  }

  .news__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 50px;
    justify-content: center;

    .news__article {
      width: 450px;

      .news__article__container__img {
        height: 334px;
        width: 100%;

        .news__article__img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .news__article__date {
        font-size: $font-size-small;
        line-height: 75px;
        margin: 8px 0 0 0;
        max-width: 100%;
      }

      .news__article__title{
        margin: -9px 0 30px 0;
      }

      .news__article__link {
        color: $black;
        display: block;
        margin: 20px 0 0 0;
        font-size: $font-size-small;
      }
    }
  }
}
